{% load staticfiles %}

<html>
<head>
<title>Page not found</title>
    <link rel="shortcut icon" type="image/ico" href="{% static 'img/favicon.ico' %}" />
    <link rel='stylesheet' type='text/css' href="{% static 'css/evopix.css' %}" media='all' />
    <style>
	#bob
		{
		position:fixed;
		top:110;
		left:200;
		}
    </style>
</head>
<body>
404: Sorry, the page you have requested was not found, but while you're here, you might as well mutate Bob a bit!
<br />
<br />
<span id="bob">
    {{svg|safe}}
    <form method="post" action="{% url '404' %}">
        {% csrf_token %}
        <input type="hidden" id="evp" name="evp" value="{{evp}}" />
        <input type="submit" value="Mutate!" />
    </form>
</span>
</body>
</html>