{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/farm.css' %}" />
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="{%static 'js/jquery-cookie/jquery.cookie.js' %}"></script>
    <script src="{%static 'js/ajax.js' %}"></script>
    <script>
        $(document).ready(function(){
            var farm_bounds;
            var visible_land;  // [x, y] index ids
            var midpoint = {{ midpoint }};
            var midcoords;  // [x, y]

            function post_populate_map()
                {
                $.post ("{% url 'populate_map' %}",  {"midpoint": midpoint, "zoom": 10}, function(data, status)
                    {
                    populate_map(data);
                    }  );
                }

            function populate_map(server_reply) {
                server_reply = JSON.parse(server_reply);

                if(long_poll_check === false){
                    return;
                }

                $("#farm_box").empty();
                visible_land = {};
                farm_bounds = {min_x: 9999999999, min_y: 9999999999, max_x: 0, max_y: 0, width: 0, height: 0};
                midpoint = server_reply.midpoint;

                for (var i = 0; i < server_reply.land.length; i++) {
                    var land_unit = server_reply.land[i];
                    land_unit.x < farm_bounds["min_x"] ? farm_bounds["min_x"] = land_unit.x : farm_bounds["min_x"] = farm_bounds["min_x"];
                    land_unit.y < farm_bounds["min_y"] ? farm_bounds["min_y"] = land_unit.y : farm_bounds["min_y"] = farm_bounds["min_y"];
                    land_unit.x > farm_bounds["max_x"] ? farm_bounds["max_x"] = land_unit.x : farm_bounds["max_x"] = farm_bounds["max_x"];
                    land_unit.y > farm_bounds["max_y"] ? farm_bounds["max_y"] = land_unit.y : farm_bounds["max_y"] = farm_bounds["max_y"];
                    visible_land[[land_unit.x, land_unit.y]] = land_unit.land_id;
                    if (land_unit.land_id == midpoint) {
                        midcoords = [land_unit.x, land_unit.y]
                    }
                }

                farm_bounds["width"] = farm_bounds["max_x"] - farm_bounds["min_x"] + 1;
                farm_bounds["height"] = farm_bounds["max_y"] - farm_bounds["min_y"] + 1;

                for (var i = 0; i < server_reply.land.length; i++) {
                    land_unit = server_reply.land[i];
                    var left = (land_unit.x - farm_bounds["min_x"]) / farm_bounds["width"] * 100;
                    var top = (land_unit.y - farm_bounds["min_y"]) / farm_bounds["height"] * 100;
                    var horiz_fence = (land_unit.y - farm_bounds["min_y"] + 1) / farm_bounds["height"] * 100;
                    var vert_fence = (land_unit.x - farm_bounds["min_x"] + 0.95) / farm_bounds["height"] * 100;
                    $("#farm_box").append("<div class='landunit' style='background-color:#" + land_unit.color + "; left:" + left + "%; bottom:" + top + "%;'></div>");
                    if(land_unit.horiz_fence != null) {
                        $("#farm_box").append("<img class='h_fence' style='left:" + left + "%; bottom:" + horiz_fence + "%;' src='" + land_unit.horiz_fence + "' />");
                        //$("#dev_box").html("<img src='/static/img/fence.svg' />");
                    }

                    if(land_unit.vert_fence != null){
                        $("#farm_box").append("<img class='v_fence' style='left:" + vert_fence + "%; bottom:" + top + "%;' src='" + land_unit.vert_fence + "' />");

                    }

                }

                for (var i = 0; i < server_reply.evopix.length; i++) {
                    var evopic = server_reply.evopix[i];
                    var width = (evopic.max_x - evopic.min_x + 1) * 50;
                    var height = (evopic.max_y - evopic.min_y + 1) * 50;
                    var x = (evopic.min_x - farm_bounds["min_x"]) / farm_bounds["width"] * 100;
                    var y = (evopic.min_y - farm_bounds["min_y"]) / farm_bounds["height"] * 100;

                    $("#farm_box").append("<div class='evopic_bounding_box' style='width:" + width + "px; height:" + height + "px; left: " + x + "%; bottom: " + y + "%'><div class='evopic'>" + evopic.svg + "</div></div>");
                }

                $(function(){
                    $(".h_fence").draggable({
                        start: function(){
                            long_poll_check = false;
                        },
                        stop: function(){
                            long_poll_check = true;
                            start_long_poll();
                        }
                    });
                });
                // This adds snap-to-grid functionality, and need to call the server to place a fence.
                $(function(){
                    $('.v_fence').draggable({
                        start: function(){
                            long_poll_check = false;
                        },
                        stop: function(){
                            long_poll_check = true;
                            start_long_poll();
                        },
                        drag: function( event, ui ) {
                            var snapTolerance = $(this).draggable('option', 'snapTolerance');
                            var topRemainder = ui.position.top % 50;
                            var leftRemainder = ui.position.left % 50;

                            if (topRemainder <= snapTolerance) {
                                ui.position.top = ui.position.top - topRemainder;
                                $("#dev_box").html(ui.position.top)
                                $(this).switchClass('v_fence', 'h_fence', 10, "swing");
                                $(this).attr("src", "static/img/horiz_fence1.svg");
                                $(this).width("50px");
                                $(this).height("14px");
                            }

                            if (leftRemainder <= snapTolerance) {
                                ui.position.left = ui.position.left - leftRemainder;
                                $("#dev_box").html(ui.position.left)
                                $(this).switchClass('h_fence', 'v_fence', 10, "swing");
                                $(this).attr("src", "static/img/vert_fence1.svg");
                                $(this).width("7px")
                                $(this).height("52px")
                            }
                        }
                    });
                });

                //Just playing around here, need to figure out how to show a full version of an evopic that's been clicked on
                $("svg").click(function(){
                    var html = $("<div id='big_evo'>").append($(this).clone()).append("</div>");

                    $("#dev_box").html(html);
                    $("#big_evo").attr("style", "border: solid thin red");
                });

            }

            $("#left_button").click(function(){
                var x, y;
                x = midcoords[0] - 2;
                y = midcoords[1];
                midpoint = visible_land[[x, y]];
                post_populate_map();
            });

            $("#right_button").click(function(){
                var x, y;
                x = midcoords[0] + 2;
                y = midcoords[1];
                midpoint = visible_land[[x, y]];
                post_populate_map();
            });

            $("#down_button").click(function(){
                var x, y;
                x = midcoords[0];
                y = midcoords[1] - 2;
                midpoint = visible_land[[x, y]];
                post_populate_map();
            });

            $("#up_button").click(function(){
                var x, y;
                x = midcoords[0];
                y = midcoords[1] + 2;
                midpoint = visible_land[[x, y]];
                post_populate_map();
            });


            var long_poll_check = true;
            function start_long_poll(){
                if (long_poll_check === true) {
                    setTimeout(function () {
                        post_populate_map();
                        start_long_poll();
                    }, 1000);
                }
            }
            post_populate_map();
            start_long_poll();


        });
    </script>


</head>
<body>
<img id="background_image" src="../static/img/background_sun.svg"/>
    <img id="background_hills" src="../static/img/background_hills.svg"/>
    <div id="main_content">
        <div id="visible_top"></div>
        <div id="visible_bottom"></div>
        <div id="visible_left"></div>
        <div id="visible_right"></div>
        <div id="farm_box"><span class="evopic"></span>

        </div>

    <div id="dev_box">Hello!</div>
    <div id="nav_buttons">
        <table>
            <tr>
                <td></td>
                <td><div id='up_button'></div></td>
                <td></td>
            </tr>
            <tr>
                <td style="width: 15px;"><div id='left_button'></div></td>
                <td></td>
                <td style="width: 15px;"><div id='right_button'></div></td>
            </tr>
            <tr>
                <td></td>
                <td><div id='down_button'></div></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>