{% load staticfiles %}
<html>
<head>
    <title>EvoPix</title>

    <link rel="shortcut icon" type="image/ico" href="{% static 'img/favicon.ico' %}" />
    <link rel='stylesheet' type='text/css' href="{% static 'css/evopix.css' %}" media='all' />
</head>
<body>
    <img src="{% static 'img/LOGO.jpg' %}" id='logo'/>
    <br /><br />
    <div style="position:absolute; top:400px; left:50px;">
        <u>Welcome to EvoPix</u><br />
        Please enter your login information<br/>

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Login name:</td>
                    <td><input type="text" name="username" /></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="password" /></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Submit"/></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>