{% extends "templates/base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/store.css" />
{% endblock css %}
{% block scripts %}
{#    See http://stackoverflow.com/questions/21601655/adding-raw-svg-code-to-html-canvas#}
    <script>
        $(document).ready(function() {
            function drawInlineSVG(ctx, rawSVG, callback) {

                /// create Blob of inlined SVG
                var svg = new Blob([rawSVG], {type: "image/svg+xml;charset=utf-8"});

                /// create URL (handle prefixed version)
                var domURL = self.URL || self.webkitURL || self;
                var url = domURL.createObjectURL(svg);

                /// create Image
                var img = new Image;

                /// handle image loading
                img.onload = function () {

                    /// draw SVG to canvas
                    ctx.drawImage(this, 0, 0);
                    domURL.revokeObjectURL(url);

                    callback(this);
                };

                img.src = url;
            };

        });
    </script>
{% endblock scripts %}
{% block content %}
    <div id="store_window">
        <h1>Welcome to the corner store</h1>
        <hr />
        Breeding pellets
        <table>
        {% for pellet in breeding_pellets %}
            <tr>
                <td>{{ pellet.type }}</td>
                <td>{{ pellet.description }}</td>
            </tr>
        {% endfor %}
        </table>
        <br />

        Fences
        <table>
        {% for fence in fences %}
            <tr>
                <td>{{ fence.name }}</td>
                <td>{{ fence.description }}</td>
            </tr>
        {% endfor %}
        </table>
        <br />

        Grass seed
        <table>
        {% for seed in grasseed %}
            <tr>
                <td>{{ seed.color }}</td>
                <td style="border: solid thin black;"><img>{{ seed.svg | safe }}</img></td>
            </tr>
        {% endfor %}
        </table>

    </div>

{% endblock content %}